@page "{recipeId:int}"
@model Kulinarna.Web.DetailsModel
@{
    ViewData["Title"] = Model.RecipeDTO.Name;
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}



<h2>@Model.RecipeDTO.Name</h2>
<h4 style="font-style: italic;color: #555;">author: @Model.RecipeDTO.AuthorName</h4>


<div>@Model.RecipeDTO.Content</div>


<div class="star-rating">
    <form method="post">

        <input type="hidden" asp-for="Rating.Id" />
        <input type="hidden" asp-for="Rating.AuthorId" />
        <input type="hidden" asp-for="Rating.RecipeId" />

        @* In code below, when there was asp-for instead of name , all i got was null reference exception*@



        <button id="star1" type="submit" name="Value" value="1"><i class="fas fa-star"></i></button>
        <button id="star2" type="submit" name="Value" value="2"><i class="fas fa-star"></i></button>
        <button id="star3" type="submit" name="Value" value="3"><i class="fas fa-star"></i></button>
        <button id="star4" type="submit" name="Value" value="4"><i class="fas fa-star"></i></button>
        <button id="star5" type="submit" name="Value" value="5"><i class="fas fa-star"></i></button>

    </form>
   
</div>

<a asp-page="./Index" class="btn btn-link">
    <i class="fas fa-arrow-left"></i> Back

</a>


