@page
@model RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Najlepsze przepisy w mieście.</p>
</div>

<!--searchbyname-->

<form method="get">
    <div class="input-group">
        <input asp-for="SearchTerm" type="search" class="form-control" placeholder="Enter your favourite recipe">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<br />
<br />

<div>
    <table class="table table-striped">
        @foreach (var recipe in Model.RecipesByName)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-recipeId="@recipe.RecipeId">@recipe.Name</a></td>
                <td><a asp-page="./Edit" asp-route-recipeId="@recipe.RecipeId">  <i class="fa fa-edit"></i></a></td>
            </tr>

        }
    </table>
</div>

<a asp-page=".\Edit" class="btn btn-primary">Add new</a>


