.star-rating button {
    border: 0;
    background: transparent;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: rgba(255,215,0, 0.4);
}

    .star-rating button:focus {
        outline: 0;
        /*deletes border around the star,that shows up when is clicked*/
    }
