

.star-rating button {
    border: 0;
    background: transparent;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: rgba(255,215,0, 0.4);
}

    .star-rating button:hover,
    .star-rating button:hover + .star-rating button,
    .star-rating button:hover + .star-rating button + .star-rating button,
    .star-rating button:hover + .star-rating button + .star-rating button + .star-rating button,
    .star-rating button:hover + .star-rating button + .star-rating button + .star-rating button + .star-rating button {
        color: rgba(255,215,0);
    }
